*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div,
form,
input,
a{
    font-family: montserrat !important;
}

body{
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.formulario{
    display: flex;
    height: 100vh;
    align-items: center;
}

.formulario .wrapper-formulario{
    max-width: 700px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    max-height: 500px;
    height: 100%;
}

.formulario .side-img{
    height: 100%;
    width: 50%;
}

.formulario .side-img img{
    height: 100%;
    border-radius: 7px 0 0 7px;
    width: 100%;
}

.formulario .wrapper-formulario form{
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
}

.formulario .wrapper-formulario form .img-login{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
}

.formulario .wrapper-formulario form .img-login img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.formulario form #login,
.formulario form #pass{
    width: 100%;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,.24);
    border-radius: 0;
    font-size: 16px;
    color: #000;
    height: 45px;
    padding: 0 5px 0 10px;
}

.formulario form #enter{
        width: 100%;
    margin: 30px auto;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,.24);
    border-radius: 7px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    background: #66cc00;
}

.formulario form #enter:hover{
    background: #336600;
}

.formulario form #login:focus,
.formulario form #pass:focus{
    outline: none;
    border-bottom: 2px solid black;
}

.formulario .wrapper-remember{
    display: flex;
    align-items: center; 
    margin-top: 10px;
}

.formulario form label[for="remember"]{
    font-size: 12px;
    margin-left: 5px;
}

.formulario .obs{
    display: flex;
    justify-content: space-around;
}

.formulario .obs a{
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.formulario .obs a:hover{
    color: #999;
    text-decoration: underline !important;
}
